:root {
  --transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  display: flex;
  min-height: 100vh;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.btn-icon {
  border: none;
  font-size: 2rem;
  transition: var(--transition);
}

.btn-icon:hover {
  transform: translateY(-3px);
}

.btn-icon:focus {
  outline: none;
}

.btn-icon:active {
  transform: translateY(2px);
}

.main-btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
}

input {
  font-size: inherit !important;
}

li {
  transition: var(--transition);
}

li:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.btn {
  transition: var(--transition);
}
.btn:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
